# Compiled class files
*.class

# Log files
*.log
*.log.*

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ IDEA
/.idea/
*.iml
/out/
/gen/

# Maven/Gradle
/target/
/build/
/.gradle/
/bin/

# Other IDEs/Editors
.vscode/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*

# Mac OS X
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Secrets and sensitive data
*.properties
*.yaml
*.yml

# Other
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*
